html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 10px;
  background-color: #fff;

  &.large {
    font-size: 14px;
  }

  &.iframe {
    background-color: #fafafa;

    .splash {
      box-sizing: border-box;
      padding: 1rem;
      width: 25rem;
      margin: 0;
    }
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.2rem;
  padding-top: 1rem;
  box-sizing: border-box;
  position: relative;
}

.splash {
  width: 30rem;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@media screen and (max-width: 320px) {
  .splash {
    padding: 0 30px;
  }
}

@media (max-width: 50rem) {
  .splash {
    margin-top: 10rem;
  }

  html.iframe .splash {
    margin-top: 0;
  }
}

.head {
  margin-bottom: 4rem;
}

.logos {
  position: relative;
  margin-bottom: 4rem;
}

.logo {
  display: inline-block;

  &.org {
    margin-right: 7rem;

    img {
      border-radius: .56em;
    }

    &::after {
      position: absolute;
      display: block;
      content: "+";
      top: 1.5rem;
      left: 0;
      width: 30rem;
      text-align: center;
      color: #d6d6d6;
      font-size: 1.5rem;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}

.coc {
  font-size: 1.2rem;
  padding: 1.5rem 0 .5rem;
  color: #666;

  label {
    cursor: pointer;
  }

  input {
    appearance: none;
    border: none;
    vertical-align: middle;
    margin: 0 .5rem 0 0;

    &::after {
      content: "";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
      background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='15' viewBox='0 0 30 15'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath stroke='%23000' d='M15 0h15v15H15z'/%3E%3Cpath fill='%23000' d='M22.155 10.786c-.016.023-.026.05-.047.07-.1.1-.228.145-.358.142a.48.48 0 01-.357-.14c-.02-.022-.03-.048-.047-.072L18.164 7.88a.49.49 0 010-.73.59.59 0 01.79 0l2.796 2.66 4.348-5.662a.547.547 0 01.748 0 .492.492 0 010 .717l-4.69 5.92z'/%3E%3Cpath stroke='%23000' d='M0 0h15v15H0z'/%3E%3C/g%3E%3C/svg%3E");
      cursor: pointer;
    }

    &:checked::after {
      background-position: right;
    }
  }

  a {
    color: #666;

    &:hover {
      background-color: #666;
      text-decoration: none;
      color: #fff;
    }
  }
}

html.iframe {
  .coc {
    font-size: 1.1rem;
    padding-top: 1rem;
  }

  .coc input {
    position: relative;
    top: -.2rem;
  }
}

p {
  font-size: 1.5rem;
  margin: 0 0 30px 0;

  &.message {
    width: 180%;
    margin-left: -40%;
  }
}

@media screen and (max-width: 640px) {
  p.message {
    width: 100%;
    margin-left: 0;
  }
}

html.iframe {
  p {
    font-size: 1.2rem;
    margin: 0 0 .5rem;

    &.status {
      font-size: 1.1rem;
    }
  }
}

select {
  background: none;
}

button,
.form-item {
  font-size: 1.2rem;
  margin-top: 1rem;
  vertical-align: middle;
  display: block;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: .9rem;
}

html.iframe {

  button,
  .form-item {
    margin-top: .5rem;
  }
}

button {
  color: #fff;
  font-weight: 700;
  border-width: 0;
  background-color: rgb(63, 76, 213) !important;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
  outline: 0;
  transition: background-color .15s ease-in, color .15s ease-in;

  &.loading {
    pointer-events: none;
  }

  &.error {
    background-color: #f4001e;
    text-transform: none;
  }

  &:disabled {
    color: #fff !important;
    background-color: #d6d6d6;
    cursor: default;
    pointer-events: none;

    &.success {
      color: #fff !important;
      background-color: #68c200;
    }
  }

  &:not(.disabled):active {
    background-color: #7a002f;
  }
}

b {
  transition: transform .15s ease-in;

  &.grow {
    transform: scale(1.2);
  }
}

form {
  margin-top: 2rem;
  margin-bottom: 0;
}

html.iframe form {
  margin-top: 1rem;
}

html.iframe {

  button,
  .form-item {
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0;
    font-size: 1.1rem;
  }
}

input {
  color: #9b9b9b;
  border: .1rem solid #d6d6d6;
}

input:focus {
  color: #666;
  border-color: #999;
  outline: 0;
}

.active,
.total {
  display: inline-block;
}

.active {
  color: #e01563;
}

p.signin {
  padding: 1rem 0;
  font-size: 1.1rem;

  a {
    color: #e01563;
    text-decoration: none;

    &:hover {
      background-color: #e01563;
      color: #fff;
    }
  }
}

html.theme-light input {
  border-radius: 20px;
}

footer {
  color: #d6d6d6;
  font-size: 1.1rem;
  margin: 0 auto;
  width: 30rem;
  text-align: center;
  position: absolute;
  bottom: 1rem;

  a {
    color: #9b9b9b;
    text-decoration: none;
    border-bottom: .1rem solid #9b9b9b;

    &:hover {
      color: #fff;
      background-color: #9b9b9b;
    }
  }
}

// Scale down the reCAPTCHA window
.iframe .g-recaptcha {
  width: 304px;
  transform: scale(.76);
  position: relative;
  left: -36px;
  top: -3px;
}

.iframe.large .g-recaptcha {
  width: auto;
  transform: scale(1.065);
  position: relative;
  left: 11px;
  top: -4px;
}

// stylelint-disable-next-line selector-max-id
#h-captcha {
  display: none;
}